node_modules
dist
.env
origin	git@github.com:mdshahjalal5/Level2-Batch4-PH-University-Server-part1-pr.git (fetch)
origin	git@github.com:mdshahjalal5/Level2-Batch4-PH-University-Server-part1-pr.git (push)
git@github.com:mdshahjalal5/Level2-Batch4-PH-University-Server-part1-pr.git

git@github.com:mdshahjalal5/Level2-Batch4-PH-University-Server-part1-pr.git
origin	git@github.com:mdshahjalal5/Level2-Batch4-PH-University-Server-part1-pr.git (fetch)
origin	git@github.com:mdshahjalal5/Level2-Batch4-PH-University-Server-part1-pr.git (push)

